html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
}

/*Navigationsleiste*/
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: fügt einen Schatten hinzu */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: stretch; /* Stellt sicher, dass jedes Element die volle verfügbare Breite nutzt */
    width: 100%; /* Nutzt die gesamte Breite des Navigationsbereichs */
}

nav ul li {
    flex: 1; /* Lässt jedes Element gleichmäßig wachsen */
    display: flex;
    justify-content: center; /* Zentriert das Icon horizontal */
    align-items: center; /* Zentriert das Icon vertikal */
    margin: 0; /* Entfernt jeglichen Außenabstand */
    padding: 0; /* Stellt sicher, dass keine inneren Abstände sind */
    background-color: transparent; /* Hintergrundfarbe transparent, bis aktiv/hover */
}

nav ul li a {
    width: 50px; /* Vollständige Breite */
    height: 56px; /* Vollständige Höhe */
    display: flex; /* Ermöglicht Flexbox-Eigenschaften */
    align-items: center; /* Zentriert das Icon vertikal */
    justify-content: center; /* Zentriert das Icon horizontal */
    text-decoration: none; /* Keine Textdekoration */
    color: inherit; /* Erbt die Textfarbe */
}

.icon {
    width: 100%; /* Anpassen der Breite */
    height: 17px; /* Anpassen der Höhe */
    background-color: transparent; /* Macht den Icon-Hintergrund transparent */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Stellt sicher, dass das Bild vollständig in den Icon-Bereich passt */
    border: none;  /* Entfernt den Rand */
    margin: 0;     /* Entfernt den Außenabstand */
    padding: 0;    /* Entfernt den Innenabstand */
}

#produkt {
    background-image: url('assets/IconHome.png');
}

#qrcode {
    background-image: url('assets/IconQrcode.png');
}

#gutscheine {
    background-image: url('assets/IconVoucher.png');
}

#profil {
    background-image: url('assets/IconSettings.png');
}

/* Hintergrundfarbe für aktive Seite auf das ganze <li> anwenden */
nav ul li.nav-active .icon {
    position: relative; /* Damit das Pseudoelement relativ zu diesem Element positioniert wird */
}

nav ul li.nav-active .icon::after {
    content: ""; /* Notwendig für die Anzeige des Pseudoelements */
    position: absolute; /* Absolute Positionierung innerhalb des .icon Elements */
    bottom: -5px; /* Positioniert das Element unter dem .icon Element */
    left: 50%; /* Zentriert das Element horizontal */
    transform: translateX(-50%); /* Verschiebt das Element zur Hälfte seiner Breite nach links, um es zu zentrieren */
    width: 24px; /* Breite des Streifens */
    height: 2px; /* Höhe des Streifens */
    background-color: #A1CE59; /* Grün */
}


/* Karussell */
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    transition: transform 0.5s ease;
    display: none; /* Standardmäßig nicht anzeigen */
}

.carousel-item.active {
    display: block; /* Nur das aktive Element anzeigen */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Startseite */
/* Zentrierung des gesamten Inhalts */
#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Sicherstellt, dass der Inhalt die gesamte Höhe des Viewports ausfüllt */
    text-align: center;
  }
  
  /* Zentrierung des Logos */
  #logo-start {
    display: block; /* Stellt sicher, dass das Logo als Blockelement behandelt wird */
    margin: 0 auto; /* Zentriert das Logo horizontal */
    width: 60%; /* Logo-Breite auf 70% der Bildschirmbreite */
    max-width: 800px; /* Maximale Breite für Responsive Design */
    height: auto; /* Bewahrt das Seitenverhältnis des Logos */
  }
  
  /* Zentrierung des Hauptinhalts */
  main {
    text-align: center;
  }
  
  /* Zentrierung der Überschriften */
  h1 {
    text-align: center;
    font-size: 36px;
    color: #423620;
  }
  
  /* Zentrierung der Absätze */
  p {
    text-align: center;
    color: #A68051;
  }
  
  /* Zentrierung der Buttons */
  .buttons {
    display: flex;
    justify-content: center;
    margin: 30px 5px 15px; /* Abstand oben, rechts, unten */
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    color: #423620;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #A1CE59; /* Hintergrundfarbe */
    border-radius: 24px; /* Eckenabrundung */
    margin: 0px 5px 10px; /* Abstand oben, rechts, unten */
    display: inline-block; /* Inline-Block-Darstellung */
    width: 100%; /* Mindestbreite */
    font-family: 'Merriweather', serif;
    font-size: 16px;
  }

  .negbutton {
    display: inline-block;
    padding: 10px 20px;
    color: #423620;
    text-decoration: none;
    border: 1px solid #423620;
    cursor: pointer;
    background-color: #fff; /* Hintergrundfarbe */
    border-radius: 24px; /* Eckenabrundung */
    margin: 0px 5px 10px; /* Abstand oben, rechts, unten */
    display: inline-block; /* Inline-Block-Darstellung */
    width: 100%; /* Mindestbreite */
    font-family: 'Merriweather', serif;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #EDF8F2;
  }
  
  a {
    text-decoration: none;
    color: #A68051;
  }

/* Styling für Input-Gruppen */
.input-group {
  display: flex; /* Flexbox-Layout für die horizontale Anordnung */
  margin-bottom: 15px;
}

/* Styling für Labels */
.input-group label {
  flex: 1; /* Nimmt den verfügbaren Platz ein */
  font-size: 0.8rem; /* Schriftgröße anpassen */
  color: #A68051; /* Farbe der Beschriftung */
  transition: color 0.2s ease; /* Animation für Farbwechsel */
}

/* Styling für Input-Felder */
.input-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #A68051; /* Randfarbe */
  border-radius: 24px; /* Eckenabrundung */
  transition: border-color 0.2s ease; /* Animation für Farbwechsel */
  font-family: 'Merriweather', serif;
}

/* Styling für Fokus-Zustand */
.input-group input:focus {
  outline: none; /* Entfernt den Standardfokus-Umriss */
  border-color: #423620; /* Farbe des Randes beim Fokus */
}

/* Styling für Labels mit ausgefüllten Feldern */
.input-group input:not([value=""]),
.input-group input:focus {
  ~ label {
    color: #423620; /* Beschriftungsfarbe bei ausgefülltem Feld */
    font-family: 'Merriweather', serif;
  }
}


/* Header für Gutschein- und Produktbereich */
#logo-header {
  margin-right: 20px;
  width: 15%;
}
  
#h2-header {
  font-size: 24px; 
  color: #423620; /* Farbe des Beschreibungstexts */
  margin-bottom: 0px;
  padding-bottom: 0px;
}
  
#h3-header {
  font-size: 18px; /* Schriftgröße des Beschreibungstexts */
  color: #423620; /* Farbe des Beschreibungstexts */
  margin-top: 0px;
  font-weight: normal;
}
  
#header-page {
  display: flex; /* Macht #header-page zu einem Flex-Container */
  max-width: 1000px; /* Maximale Breite des Containers */
  margin: 15px;
}

#logo-text {
  display: flex; /* Flexbox-Layout für die horizontale Anordnung */
  align-items: center; /* Vertikale Ausrichtung */
  justify-content: flex-start; /* Inhalt linksbündig ausrichten */
  width: 100%; /* Stellt sicher, dass #logo-text die volle Breite von #header-page einnimmt */
}

/* QR-Code*/
#qr-code {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

/* Verwendete Gutscheine */
#used-vouchers {
  padding: 15px;
  color: #423620;
}

#used-vouchers h2 {
  text-align: left; /* Oder start, um die Standardausrichtung zu verwenden */
}

.year h3 {
  color: #A68051; 
  font-size: 1rem; /* Kleinere Schriftgröße */
  margin-bottom: 0.5rem;
}

.voucher-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.voucher {
  padding: 1rem;
  flex: 1;
  display: flex; /* Flexbox für Anordnung von Bild und Details */
  align-items: center; /* Vertikale Zentrierung */
}

.voucher img {
  max-width: 80px;
  margin-right: 1rem;
  border-radius: 50%; /* Erstellt einen Kreis */
  max-width: 50px; /* Oder einen anderen Wert, der dir gefällt */
  max-height: 50px; /* Oder einen anderen Wert, der dir gefällt */
}

.voucher-details {
  flex: 1; /* Nimmt restlichen Platz ein */
}

.voucher-details p {
  margin: 0; /* Entfernt den Standard-Abstand zwischen Absätzen */
}

.voucher-name {
  font-weight: bold;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  color: #423620; 
  text-align: left; 
}

.voucher-date {
  font-size: 0.95rem;
  color: #423620; /* Heller grauer Text für Datum */
  text-align: left; 
}
.year {
  margin-top: 2rem;
  text-align: center;
}

.year h3 {
  margin-bottom: 1rem;
}

.month {
  margin-bottom: 1rem; 
}

.month-header {
  display: flex; /* Flexbox für Label und Linie */
  align-items: center;
  margin-bottom: 0.5rem; /* Abstand zwischen Label/Linie und Gutschein */
}

.month-label {
  width: 80px;
  font-weight: bold;
  color: #A68051;
  margin-right: 1rem;
}

.month-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.voucher-date::before {
  content: "-";
  margin-right: 0.25rem;
}

/* Barcode Scanner Formatierung */
.barcode-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto; /* Optional: Anpassen des Abstands */
}
.barcode-placeholder img {
  max-width: 40%;
  height: auto;
}
